# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Christian Bundy
	email = christian@truework.com
[init]
	defaultBranch = main
[pull]
	rebase = false
